<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmOapmqvsTrNqzOTtcEt7IFcZFYa-cbeU</string>
	<key>GCM_SENDER_ID</key>
	<string>561884152123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectMed.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-med-8c1df</string>
	<key>STORAGE_BUCKET</key>
	<string>project-med-8c1df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561884152123:ios:b5207b3a59da2263d6371e</string>
</dict>
</plist>